<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container">
        <div class="box" id="box-1" style="background-image: url('/img/thomas-kelley-JoH60FhTp50-unsplash.jpg');"></div>
        <div class="box" id="box-2" style="background-image: url('/img/luca-bravo-VowIFDxogG4-unsplash.jpg');"></div>
        <div class="box" id="box-3" style="background-image: url('/img/sebin-thomas-OdBFUurPHjo-unsplash.jpg');"></div>
        <div class="box" id="box-4" style="background-image: url('/img/aaron-burden-yzgF-AQt1sQ-unsplash.jpg');"></div>
        <div class="box" id="box-5" style="background-image: url('/img/blake-verdoorn-cssvEZacHvQ-unsplash.jpg');"></div>
        <div class="box" id="box-6" style="background-image: url('/img/casey-horner-4rDCa5hBlCs-unsplash.jpg');"></div>
        <div class="box" id="box-7" style="background-image: url('/img/justin-kauffman-a8lTjWJJgLA-unsplash.jpg');"></div>
        <div class="box" id="box-8" style="background-image: url('/img/degleex-wQImoykAwGs-unsplash.jpg');"></div>
        <div class="box" id="box-9" style="background-image: url('/img/gemma-evans-JUrolU3FLTA-unsplash.jpg');"></div>
        <div class="box" id="box-10" style="background-image: url('/img/jason-ortego-buF62ewDLcQ-unsplash.jpg');"></div>
    </div>

</body>
</html>